<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="hlstyle.css">
    <title>Hệ thống điểm danh bằng source code</title>
</head>

<body>
    <div class="wrap-login">
        <div class="login-title">
            <span>Hệ thống điểm danh bằng source code</span>
        </div>
        <div class="wrap-hint">
            <button onclick="getRandomHints('hints.txt')">Gợi ý</button>
            <span id="hint-text"></span>
        </div>
        <div class="wrap-sample-io">
            <div class="sample-input">
                <label for="sample-input-text"><b>Input mẫu:</b></label>
                <textarea id="sample-input-text" readonly disabled spellcheck="false"></textarea>
            </div>
            <div class="sample-output">  
                <label for="sample-output-text"><b>Output mẫu:</b></label>
                <textarea id="sample-output-text" readonly disabled spellcheck="false"></textarea>
            </div>
            <div class="output">
                <label for="output-text" style="margin-left: 5%;"><b>Output của bạn:</b></label>
                <textarea id="output-text" readonly disabled spellcheck="false"></textarea>
            </div>
        </div>
        <div class="vl"></div>
        <div class="wrap-source-code">
            <label for="source-code"><b>Source code mẫu:</b></label>
            <pre id="source-code">
                <code id="source-code-text"></code>
            </pre>
        </div>
        <div class="wrap-input-source-code">
            <form id="source-code-new"> 
                <label><b>Nhập source code mới:</b></label>
                <!--pre id="input-source-code">
                    <code id="input-source-code-text" contenteditable spellcheck="false"></code>
                </pre -->
                <textarea id="input-source-code-editing" oninput="update(this.value); sync_scroll(this);" onkeydown="check_tab(this, event);" spellcheck="false" onscroll="sync_scroll(this);" placeholder="Nhập source code mới tại đây..."></textarea>
                <pre id="input-source-code-highlight" aria-hidden="true" spellcheck="false">
                    <code class="language-html" id="input-source-code-text"></code>
                </pre> 
            </form>
        </div>
        <div class="wrap-btn">
            <p id="run-result"></p>
            <button onclick="compileCode()" class="compile-btn" type="submit" value="Submit">Biên dịch</button>
            <button onclick="runCode()" class="run-btn" type="submit" value="Submit">Chạy</button>
            <button onclick="runCode(true)" class="submit-btn" type="submit" value="Submit">Nộp</button>
        </div>
        <script language="javascript">
            function update(text) {
                // Syntax Highlight
                var html = hljs.highlight(text, {language: 'c++'}).value;
                document.getElementById("input-source-code-text").innerHTML = html;
            }
            function sync_scroll(element) {
                /* Scroll result to scroll coords of event - sync with textarea */
                let result_element = document.querySelector("#input-source-code-text");
                // Get and set x and y
                result_element.scrollTop = element.scrollTop;
                result_element.scrollLeft = element.scrollLeft;
            }
            function check_tab(element, event) {
                let code = element.value;
                if(event.key == "Tab") {
                    /* Tab key pressed */
                    event.preventDefault(); // stop normal
                    let before_tab = code.slice(0, element.selectionStart); // text before tab
                    let after_tab = code.slice(element.selectionEnd, element.value.length); // text after tab
                    let cursor_pos = element.selectionEnd + 1; // where cursor moves after tab - moving forward by 1 char to after tab
                    element.value = before_tab + "\t" + after_tab; // add tab char
                    // move cursor
                    element.selectionStart = cursor_pos;
                    element.selectionEnd = cursor_pos;
                    update(element.value); // Update text to include indent
                }
            }
            function getRandomNumber(l, r) {
                return l + Math.floor(Math.random() * (r - l + 1));
            }
            function getRandomSubarray(arr, size) {
                var shuffled = arr.slice(0), i = arr.length, temp, index;
                while (i--) {
                    index = Math.floor((i + 1) * Math.random());
                    temp = shuffled[index];
                    shuffled[index] = shuffled[i];
                    shuffled[i] = temp;
                }
                return shuffled.slice(0, size);
            }
            function getRandomHints(file) {
                var rawFile = new XMLHttpRequest();
                rawFile.open("GET", file, false);
                rawFile.onreadystatechange = function () {
                    if (rawFile.readyState === 4) {
                        if (rawFile.status === 200 || rawFile.status == 0) {
                            var allText = rawFile.responseText;
                            var split = allText.split('\n');
                            var randomTextArr = getRandomSubarray(split, getRandomNumber(4, 5));
                            var randomText = "";
                            for (var i = 0; i < randomTextArr.length; ++i) {
                                randomText += "(" + (i + 1 - '0') + ")" + " " + randomTextArr[i] + "\n";
                            }
                            document.getElementById("hint-text").innerText = randomText;
                        }
                    }
                }
                rawFile.send(null);
            }
            getRandomHints("hints.txt");
            function getSampleCode(file) {
                var rawFile = new XMLHttpRequest();
                rawFile.open("GET", file, false);
                rawFile.onreadystatechange = function () {
                    if (rawFile.readyState === 4) {
                        if (rawFile.status === 200 || rawFile.status == 0) {
                            var allText = rawFile.responseText;
                            var html = hljs.highlight(allText, {language: 'c++'}).value;
                            document.getElementById("source-code-text").innerHTML = html;
                        }
                    }
                }
                rawFile.send(null);
            }
            getSampleCode("sample-code.txt");
            var idSrc;
            function getSourceCode() {
                $(document).ready(function (e) {
                    $.get("/api/get_code", function (res) {
                        res = JSON.parse(res);
                        if (res['errCode'] == 200) {
                            allText = res.src;
                            idSrc = res.id;
                            html = hljs.highlight(allText, {language: 'c++'}).value;
                            document.getElementById("source-code-text").innerHTML = html;
                            document.getElementById("sample-input-text").innerHTML = res.input;
                            document.getElementById("sample-output-text").innerHTML = res.output;
                        } else {
                            alert("Vui long config mongodb!");
                        }
                    })
                })
            }
            getSourceCode();
            function runCode(submit=false) {
                document.getElementById('run-result').innerText = '';
                $(document).ready(function () {
                    var val = $.trim($("#input-source-code-editing").val());
                    url_api = '/api/code/run';
                    if (submit == true){
                        url_api = '/api/code/submit';
                    }
                    if (val != "") {
                        $.ajax({
                            url: url_api,
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log(data)
                                data = JSON.parse(data)
                                console.log(data)
                                if (data.save_label == true && submit == true) {
                                    alert("Nop source thanh cong!");
                                    $("#input-source-code-editing").val('');
                                    getSourceCode();
                                    getRandomHints("hints.txt");
                                } else {
                                    document.getElementById("output-text").innerText = data.output;
                                    if (data.save_label == true) {
                                        document.getElementById('run-result').innerText = "Source cho ket qua chinh xac!";
                                    } else if (data.rescompil == "") {
                                        document.getElementById('run-result').innerText = "Source cho ket qua khong chinh xac!";
                                    } else {
                                        document.getElementById('run-result').innerText = data.rescompil;
                                    }
                                }
                            },
                            data: JSON.stringify({ "id": idSrc, "label": val })
                        });
                    } else {
                        alert("Vui long nhap source code!");
                    }
                });
            }
            function compileCode() {
                document.getElementById('run-result').innerText = '';
                $(document).ready(function () {
                    var val = $.trim($("#input-source-code-editing").val());
                    if (val != "") {
                        $.ajax({
                            url: '/api/compile',
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log(data)
                                data = JSON.parse(data)
                                console.log(data)
                                if (data.errCode == 200) {
                                    document.getElementById('run-result').innerText = data.rescompil
                                } else {
                                    document.getElementById('run-result').innerText = "Bien dich loi: " + data.rescompil
                                }
                            },
                            data: JSON.stringify({ "id": idSrc, "label": val })
                        });
                    } else {
                        alert("Vui long nhap source code!");
                    }
                });
            }
        </script>
    </div>
</body>

</html>