<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="hlcode.css">
    <title>Up load your source code</title>
  </head>
  <body>
    <div class="main-container">
        <div class="wrap-login">
            <div class="login-title">
                Upload your source code
            </div>
            <form id="login-form" class="login-form" method="POST">
                <div class="wrap-input" data-validate="Vui lòng nhập tên sinh viên!">
                    <input class="input" type="text" name="StudentName" placeholder="Nhập tên sinh viên">        
                </div>
                <div class="wrap-input" data-validate="Vui lòng nhập mã số sinh viên!">
                    <input class="input" type="text" name="StudentID" placeholder="Nhập mã số sinh viên">        
                </div>
                <div class="wrap-input" data-validate="Vui lòng nhập lớp sinh viên!">
                    <input class="input" type="text" name="StudentClass" placeholder="Nhập lớp sinh viên">        
                </div>
            </form>
            <pre class="wrap-coding">
                <code id="source-code"></code>
            </pre>
            <div class="wrap-hint">
                <button onclick="getRandomHints('hints.txt')">Get hints</button>
                <p id="hint-text"></p>
            </div>
            <div class="wrap-text">
                <textarea name="sourcecode" rows="15" cols="110" placeholder="Enter your source code here"></textarea>
            </div>
            <button onclick="submitCode()" class="submit-btn" type="submit" value="Submit">Submit</button>
            <script language="javascript">
                function getRandomNumber(l, r) {
                    return l + Math.floor(Math.random() * (r - l + 1));
                }
                function getRandomSubarray(arr, size) {
                    var shuffled = arr.slice(0), i = arr.length, temp, index;
                    while (i--) {
                        index = Math.floor((i + 1) * Math.random());
                        temp = shuffled[index];
                        shuffled[index] = shuffled[i];
                        shuffled[i] = temp;
                    }
                    return shuffled.slice(0, size);
                }
                function getRandomHints(file) {
                    var rawFile = new XMLHttpRequest();
                    rawFile.open("GET", file, false);
                    rawFile.onreadystatechange = function () {
                        if(rawFile.readyState === 4) {
                            if(rawFile.status === 200 || rawFile.status == 0) {
                                var allText = rawFile.responseText;
                                var split = allText.split('\n');
                                var randomTextArr = getRandomSubarray(split, getRandomNumber(2, 3));
                                var randomText = "";
                                for (var i = 0; i < randomTextArr.length; ++i) {
                                    randomText += randomTextArr[i] + "\n";
                                }
                                document.getElementById("hint-text").innerHTML = randomText;
                            }
                        }
                    }
                    rawFile.send(null);
                }
                var idSrc;
                function getSourceCode() {
                    $(document).ready(function (e){
                        $.get("/api/get_code", function(res) {
                            res = JSON.parse(res)
                            if (res['errCode'] == 200) {
                                allText = res.src
                                idSrc = res.id
                                document.getElementById("source-code").innerHTML = allText;
                            }
                        })
                    })
                }
                getSourceCode();
                function submitCode(){
                    $(document).ready(function () {
                        var val = $.trim($("textarea").val());
                        if (val != "") {
                            // $.post("/api/save_label/",
                            // {
                            //     "id": idSrc,
                            //     "label": val
                            // })
                            $.ajax({
                                url: '/api/save_label',
                                type: 'post',
                                dataType: 'json',
                                contentType: 'application/json',
                                success: function (data) {
                                    console.log(data)
                                },
                                data: JSON.stringify({"id": idSrc, "label":val})
                            });
                        } else {
                            alert("Vui long nhap source code!");
                        }
                    });     
                }
            </script>
        </div>
    </div>
  </body>
</html>