<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Form điểm danh cho sinh viên</title>
</head>

<body>
    <div class="wrap-login">
        <div class="login-title">
            <span id="login-title-content">Form điểm danh cho sinh viên</span>
        </div>
        <div class="wrap-note-1">
            <span class="note-content">1, Nhập thông tin điểm danh:</span>
        </div>
        <form id="submit-form" onsubmit="handleClick(); return false;">
            <div class="wrap-student-name" data-validate="Yêu cầu nhập họ và tên sinh viên!">
                <label for="student-name"><b>Họ và tên sinh viên:</b></label>
                <input id="student-name" class="student-name" type="text" placeholder="VD: Nguyễn Văn A" required>
            </div>
            <div class="wrap-student-id" data-validate="Yêu cầu nhập mã số sinh viên!">
                <label for="student-id"><b>Mã số sinh viên:</b></label>
                <input id="student-id" class="student-id" type="text" placeholder="VD: 20211234" required>
            </div>
            <div class="wrap-student-class-id" data-validate="Yêu cầu nhập mã lớp học!">
                <label for="student-class-id"><b>Mã lớp học sinh viên:</b></label>
                <input id="student-class-id" class="student-class-id" type="text" placeholder="VD: 123456" required>
            </div>
        </form>
        <div class="wrap-note-2">
            <span class="note-content">2, Truy cập hệ thống tính điểm bài tập bằng chỉnh sửa source code:</span>
        </div>
        <div class="wrap-guide">
            <img src="guide.png" style="width: 100%;">
            <textarea id="guide-content" class="guide-content" readonly disabled spellcheck="false"></textarea>
        </div>
        <button class="btn" form="submit-form">Bắt đầu điểm danh</button>
    </div>

    <script language="javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("login-title-content").innerText = "Form điểm danh ngày " + today;

        function handleClick() {

            student_id = document.getElementById("student-id").value;
            student_name = document.getElementById("student-name").value;
            class_id = document.getElementById("student-class-id").value;

            if (student_id != "" && student_name != "" && class_id != "") {
                $.ajax({
                    url: '/api/save_student_info',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        localStorage.setItem("student_id_doc", data.id);
                        document.location.href = '../main/index.html';
                    },
                    data: JSON.stringify({'student_id': student_id, 'student_name': student_name, 'class_id': class_id })
                });
            }
        }

        function getGuides(file) {
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            rawFile.onreadystatechange = function () {
                if (rawFile.readyState === 4) {
                    if (rawFile.status === 200 || rawFile.status == 0) {
                        var allText = rawFile.responseText;
                        document.getElementById("guide-content").innerHTML = allText;
                    }
                }
            }
            rawFile.send(null);
        }
        getGuides("guide.txt");
    </script>
</body>

</html>