* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrap-login {
    width: 70%;
    height: 215%;
    margin-top: 2%;
    margin-left: 15%;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0px 5px 15px black;
    position: relative;
}

.login-title {
    width: 100%;
    height: 80px;
    padding-top: 2%;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #1E63C4;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wrap-note-1 {
    top: 10%;
    left: 5%;
    position: absolute;
}

.note-content {
    font-size: 22px;
    font-weight: bold;
    color: #1E63C4;
}

.wrap-student-name, .wrap-student-id, .wrap-student-class-id {
    width: 70%;
    height: 6%;
    position: absolute;
    left: 15%;
}

.wrap-student-name {
    top: 13%;
}

.wrap-student-id {
    top: 21%;
}

.wrap-student-class-id {
    top: 29%;
}

.student-name, .student-id, .student-class-id {
    width: 87.5%;
    height: 72%;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    background-color: #EBEBEB;
    border-radius: 25px;
    outline: none;
}

.wrap-note-2 {
    top: 38%;
    left: 5%;
    position: absolute;
}

.btn {
    width: 30%;
    height: 4%;
    top: 94%;
    left: 35%;
    position: absolute;
    background-color: #1E63C4;
    border-radius: 25px;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    background-color: #1E88DA;
}

.wrap-guide {
    width: 86%;
    height: 45%;
    position: absolute;
    top: 42%;
    left: 7%;
}

.guide-content {
    margin-top: 10px;
    width: 100%;
    height: 42%;
    font-size: 18px;
    resize: none;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}